/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/
tr.spaceUnder td {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.space {
  margin-right: .5em;
}

.bg-dark{
  background-color: #30404a !important;
}